<a href="https://colab.research.google.com/github/zinebgasmi/App-pratique/blob/master/chu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 31.9 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [325]:
# Importer les packages
import pandas as pd
import re

import numpy as np

In [ ]:
#importation des bases de données
df=pd.read_csv('/content/ProjetsComplet.csv')
df.columns

In [353]:
df.columns = ["Unnamed: 0","Finess","Nomdeletablissement","NomInvestigateur","PrenomInvestigateur","TitreProjet","NumeroProjet","Acronyme","MontantAccorde","Annee","Type",
"Projet"]

In [354]:
df=df.loc[:,['Annee', 'MontantAccorde','Nomdeletablissement','Projet']]
df

      Annee MontantAccorde        Nomdeletablissement Projet
0      2012       156091.0               CHU D'ANGERS   PHRC
1      2012       110000.0                       APHM   PHRC
2      2012       200000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
3      2012       112000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
4      2012        60836.0              CHRU DE BREST   PHRC
...     ...            ...                        ...    ...
2943   2021         415822  ASSISTANCE PUBLIQUE AP-HP    PRT
2944   2021       307134.6              CHRU DE TOURS    PRT
2945   2021     838 426 €#  ASSISTANCE PUBLIQUE AP-HP    PRT
2946   2021     324 700 €¤  ASSISTANCE PUBLIQUE AP-HP    PRT
2947   2021     224 389 €¤            CHU MONTPELLIER    PRT

[2948 rows x 4 columns]

In [355]:
df=df[df.Projet == 'PHRC']
df

      Annee MontantAccorde                    Nomdeletablissement Projet
0      2012       156091.0                           CHU D'ANGERS   PHRC
1      2012       110000.0                                   APHM   PHRC
2      2012       200000.0              ASSISTANCE PUBLIQUE AP-HP   PHRC
3      2012       112000.0              ASSISTANCE PUBLIQUE AP-HP   PHRC
4      2012        60836.0                          CHRU DE BREST   PHRC
...     ...            ...                                    ...    ...
2880   2021        1004987                           CHU TOULOUSE   PHRC
2881   2021         632826                          CHU D' ANGERS   PHRC
2882   2021         831081  ASSISTANCE PUBLIQUE-HOPITAUX DE PARIS   PHRC
2883   2021         440000                              CHR LILLE   PHRC
2884   2021         808854  HOPITAUX UNIVERSITAIRES DE STRASBOURG   PHRC

[2158 rows x 4 columns]

In [356]:
df.dtypes

Annee                   int64
MontantAccorde         object
Nomdeletablissement    object
Projet                 object
dtype: object

In [357]:
df['Nomdeletablissement'].astype('string')

0                                CHU D'ANGERS
1                                        APHM
2                   ASSISTANCE PUBLIQUE AP-HP
3                   ASSISTANCE PUBLIQUE AP-HP
4                               CHRU DE BREST
                        ...
2880                             CHU TOULOUSE
2881                            CHU D' ANGERS
2882    ASSISTANCE PUBLIQUE-HOPITAUX DE PARIS
2883                                CHR LILLE
2884    HOPITAUX UNIVERSITAIRES DE STRASBOURG
Name: Nomdeletablissement, Length: 2158, dtype: string

In [358]:
df.Nomdeletablissement.dtypes

dtype('O')

In [359]:
dfchu=df[df.Nomdeletablissement.str.startswith('CHU',na=False)]
dfchu.Nomdeletablissement.values

array(["CHU D'ANGERS", 'CHU DE TOULOUSE', 'CHU DE NANTES', 'CHU ROUEN',
       'CHU NIMES', 'CHU ROUEN', 'CHU COTE DE NACRE - CAEN',
       'CHU DE TOULOUSE', 'CHU GRENOBLE', 'CHU AMIENS', 'CHU NIMES',
       'CHU BESANCON', 'CHU MONTPELLIER', 'CHU DE POITIERS',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DIJON', 'CHU GRENOBLE',
       'CHU SAINT-ETIENNE', 'CHU SAINT-ETIENNE', 'CHU DE NICE',
       'CHU DE NANCY', 'CHU DE NANCY', 'CHU DE NANTES', 'CHU MONTPELLIER',
       'CHU HOPITAUX DE BORDEAUX', 'CHU GRENOBLE', 'CHU DE RENNES',
       'CHU DE POINTE A PITRE/ ABYMES', 'CHU DE NANTES',
       'CHU DE POINTE A PITRE/ ABYMES', "CHU D'ANGERS", 'CHU DE NANCY',
       'CHU COTE DE NACRE - CAEN', 'CHU ROUEN', 'CHU AMIENS',
       'CHU HOPITAUX DE BORDEAUX', 'CHU MONTPELLIER', 'CHU DE RENNES',
       'CHU DE NANTES', 'CHU HOPITAUX DE BORDEAUX', 'CHU BESANCON',
       'CHU DE POITIERS', 'CHU DE NANTES', 'CHU DE POITIERS', 'CHU DIJON',
       'CHU HOPITAUX DE BORDEAUX', 'CHU ROUEN', 'CHU DE POITIERS',
       'CHU DE TOULOUSE', 'CHU DE NANTES', 'CHU DE CLERMONT-FERRAND',
       'CHU DE CLERMONT-FERRAND', 'CHU DE LIMOGES', 'CHU ROUEN',
       'CHU DE NANCY', 'CHU COTE DE NACRE - CAEN',
       'CHU DE CLERMONT-FERRAND', 'CHU DE NANTES', "CHU D'ANGERS",
       'CHU DE NANTES', 'CHU DE RENNES', 'CHU BESANCON',
       'CHU DE TOULOUSE', 'CHU GRENOBLE', 'CHU DIJON', 'CHU DIJON',
       'CHU DE RENNES', 'CHU DE RENNES', 'CHU GRENOBLE',
       'CHU DE TOULOUSE', 'CHU DIJON', 'CHU COTE DE NACRE - CAEN',
       'CHU DE RENNES', 'CHU DIJON', 'CHU DE LIMOGES', 'CHU DE RENNES',
       'CHU ROUEN', 'CHU MONTPELLIER', 'CHU BESANCON', 'CHU DE TOULOUSE',
       'CHU DE NANTES', 'CHU DE RENNES', 'CHU ROUEN', 'CHU SAINT-ETIENNE',
       'CHU DE TOULOUSE', 'CHU DE TOULOUSE', 'CHU GRENOBLE',
       'CHU MONTPELLIER', 'CHU HOPITAUX DE BORDEAUX', 'CHU ROUEN',
       "CHU D'ANGERS", 'CHU HOPITAUX DE BORDEAUX', 'CHU DIJON',
       'CHU NIMES', 'CHU DE NANTES', 'CHU ROUEN',
       'CHU DE POINTE A PITRE/ ABYMES', 'CHU MONTPELLIER',
       'CHU COTE DE NACRE - CAEN', 'CHU SAINT-ETIENNE', 'CHU DE NANTES',
       'CHU DE NANCY', 'CHU DE CLERMONT-FERRAND',
       'CHU HOPITAUX DE BORDEAUX', 'CHU COTE DE NACRE - CAEN',
       'CHU DIJON', 'CHU DE LIMOGES', 'CHU DE CLERMONT-FERRAND',
       'CHU DE TOULOUSE', 'CHU AMIENS', 'CHU DE FORT DE FRANCE',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DE CLERMONT-FERRAND',
       'CHU DE CLERMONT-FERRAND', 'CHU COTE DE NACRE - CAEN',
       'CHU COTE DE NACRE - CAEN', 'CHU AMIENS', 'CHU DE LIMOGES',
       'CHU MONTPELLIER', 'CHU DE POITIERS', 'CHU ROUEN',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DE NANCY', 'CHU MONTPELLIER',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DE CLERMONT-FERRAND',
       'CHU DE TOULOUSE', 'CHU DE TOULOUSE', 'CHU DE NANCY',
       'CHU DE POITIERS', 'CHU DE NANTES', "CHU D'ANGERS",
       'CHU COTE DE NACRE - CAEN', 'CHU DE NANCY',
       'CHU DE CLERMONT-FERRAND', 'CHU DE TOULOUSE', 'CHU GRENOBLE',
       'CHU NIMES', 'CHU MONTPELLIER', 'CHU HOPITAUX DE BORDEAUX',
       'CHU BESANCON', 'CHU DE TOULOUSE', 'CHU DIJON', 'CHU DE TOULOUSE',
       'CHU DE NICE', 'CHU GRENOBLE', 'CHU DIJON', 'CHU DE TOULOUSE',
       'CHU DE NANTES', 'CHU NIMES', 'CHU MONTPELLIER', 'CHU DE NANCY',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DE TOULOUSE', 'CHU DE LIMOGES',
       'CHU GRENOBLE', 'CHU NIMES', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE LIMOGES', 'CHU DE TOULOUSE', 'CHU BESANCON',
       'CHU DE TOULOUSE', 'CHU DE NANTES', 'CHU DIJON', 'CHU DE RENNES',
       'CHU DE TOULOUSE', 'CHU ROUEN', 'CHU ROUEN', 'CHU DE NANCY',
       'CHU BESANCON', 'CHU BESANCON', 'CHU DE POITIERS', 'CHU DE RENNES',
       'CHU GRENOBLE', 'CHU DE LIMOGES', 'CHU DE TOULOUSE',
       'CHU DE POITIERS', 'CHU DE NANTES', "CHU D'ANGERS",
       'CHU DE TOULOUSE', 'CHU DE NANTES', 'CHU COTE DE NACRE - CAEN',
       'CHU DE NANTES', 'CHU DE LIMOGES', 'CHU DE NANTES', 'CHU NIMES',
       'CHU GRENOBLE', 'CHU SAINT-ETIENNE', 'CHU AMIENS', 'CHU DE NANCY',
       'CHU DE FORT DE FRANCE', 'CHU NIMES', 'CHU DE TOULOUSE',
       'CHU MONTPELLIER', 'CHU DE NANTES', 'CHU DE NANTES',
       'CHU DE NANCY', 'CHU DE TOULOUSE', 'CHU DE NANTES',
       'CHU COTE DE NACRE - CAEN', 'CHU DE NICE',
       'CHU DE CLERMONT-FERRAND', 'CHU GRENOBLE', 'CHU DE RENNES',
       'CHU DE FORT DE FRANCE', 'CHU ROUEN', 'CHU DE LIMOGES',
       'CHU DE TOULOUSE', 'CHU DE NANCY', "CHU D'ANGERS", 'CHU DE RENNES',
       'CHU DIJON', 'CHU DIJON', 'CHU DE NANCY', 'CHU MONTPELLIER',
       'CHU DE NANTES', 'CHU DE NANTES', 'CHU GRENOBLE', 'CHU GRENOBLE',
       'CHU DE RENNES', 'CHU SAINT-ETIENNE', 'CHU HOPITAUX DE BORDEAUX',
       'CHU ROUEN', 'CHU BESANCON', 'CHU NIMES', 'CHU DE RENNES',
       'CHU DE NANTES', 'CHU NIMES', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE NANCY', 'CHU DE TOULOUSE', 'CHU SAINT-ETIENNE',
       'CHU DE NANTES', 'CHU DE TOULOUSE', "CHU D'ANGERS", 'CHU BESANCON',
       'CHU DE RENNES', 'CHU DE CLERMONT-FERRAND', 'CHU GRENOBLE',
       'CHU DE NANTES', 'CHU DE NICE', 'CHU DE POITIERS',
       'CHU DE CLERMONT-FERRAND', 'CHU DE LIMOGES', 'CHU DE NANTES',
       'CHU DE NICE', 'CHU MONTPELLIER', 'CHU DE RENNES',
       'CHU MONTPELLIER', 'CHU HOPITAUX DE BORDEAUX', 'CHU MONTPELLIER',
       'CHU HOPITAUX DE BORDEAUX', 'CHU ROUEN', 'CHU DIJON', 'CHU ROUEN',
       'CHU DE NANTES', 'CHU Nantes', 'CHU Angers', 'CHU Nantes',
       'CHU Poitiers', 'CHU Brest', 'CHU Poitiers', 'CHU Rennes',
       'CHU Rennes', 'CHU Angers', 'CHU Rennes', 'CHU Dijon', 'CHU Dijon',
       'CHU Strasbourg', 'CHU Strasbourg', 'CHU de Nice', 'CHU de Nice',
       'CHU de Nîmes', 'CHU de Nice', 'CHU de Nîmes', 'CHU de Grenoble',
       'CHU de Saint Etienne', 'CHU de Grenoble',
       'CHU de Clermont Ferrand', 'CHU de Clermont Ferrand',
       'CHU de Saint Etienne', 'CHU de Clermont Ferrand',
       'CHU de Limoges', 'CHU de Bordeaux', 'CHU de Limoges',
       'CHU de Toulouse', 'CHU de Toulouse', 'CHU de Toulouse',
       'CHU de Limoges', 'CHU de Toulouse', 'CHU de Toulouse',
       'CHU de Limoges', 'CHU de Caen', 'CHU de Rouen', 'CHU de Caen',
       'CHU Amiens', 'CHU Amiens', 'CHU Amiens', 'CHU de Bordeaux',
       'CHU de Nantes', 'CHU de Rouen', 'CHU CLERMONT-FERRAND',
       "CHU D' ANGERS", 'CHU GRENOBLE', 'CHU CLERMONT-FERRAND',
       'CHU SAINT ETIENNE', 'CHU DE NANCY', 'CHU ROUEN',
       'CHU CLERMONT-FERRAND', 'CHU DE NANTES',
       'CHU HOPITAUX DE BORDEAUX', 'CHU DE TOULOUSE', 'CHU DIJON',
       'CHU BESANCON', 'CHU DE TOULOUSE', 'CHU ROUEN', "CHU D' ANGERS",
       'CHU DE NANCY', 'CHU DE POITIERS', 'CHU SAINT ETIENNE',
       'CHU SAINT ETIENNE', 'CHU AMIENS', "CHU D' ANGERS", 'CHU NIMES',
       "CHU D' ANGERS", 'CHU DE TOULOUSE', "CHU D' ANGERS", 'CHU NIMES',
       'CHU GRENOBLE', 'CHU DE TOULOUSE', 'CHU DE POITIERS',
       'CHU DE NANTES', 'CHU MONTPELLIER', 'CHU DE CLERMONT-FERRAND',
       'CHU SAINT-ETIENNE', 'CHU DE CLERMONT-FERRAND', 'CHU GRENOBLE',
       'CHU SAINT-ETIENNE', 'CHU GRENOBLE', 'CHU BESANCON',
       'CHU BESANCON', 'CHU DIJON', 'CHU DIJON', 'CHU DE NANCY',
       'CHU DE NANCY', 'CHU DE NANCY', 'CHU DE RENNES', "CHU D'ANGERS",
       'CHU DE NANTES', 'CHU DE NANTES', 'CHU DE NANTES', 'CHU DE RENNES',
       'CHU DE NANTES', "CHU D'ANGERS", 'CHU DE NANTES', 'CHU DE NANTES',
       "CHU D'ANGERS", 'CHU NIMES', 'CHU DE TOULOUSE', 'CHU MONTPELLIER',
       'CHU MONTPELLIER', 'CHU DE LIMOGES', 'CHU HOPITAUX DE BORDEAUX',
       'CHU MONTPELLIER', 'CHU DE TOULOUSE', 'CHU DE LIMOGES',
       'CHU DE FORT DE FRANCE', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE LIMOGES', 'CHU DE TOULOUSE', 'CHU DE TOULOUSE',
       'CHU AMIENS', 'CHU COTE DE NACRE - CAEN',
       'CHU COTE DE NACRE - CAEN', 'CHU ROUEN', 'CHU DE NICE',
       'CHU DE NICE', 'CHU BESANCON', 'CHU BESANCON',
       'CHU COTE DE NACRE - CAEN', 'CHU MONTPELLIER', 'CHU DE TOULOUSE',
       'CHU DE CLERMONT-FERRAND', 'CHU CAEN', 'CHU DIJON', 'CHU BESANCON',
       'CHU BESANCON', 'CHU BESANCON', 'CHU NIMES', 'CHU TOULOUSE',
       'CHU TOULOUSE', 'CHU TOULOUSE', 'CHU TOULOUSE', 'CHU BORDEAUX',
       'CHU BORDEAUX', 'CHU BORDEAUX', 'CHU MONTPELLIER',
       'CHU MONTPELLIER', 'CHU MONTPELLIER', 'CHU RENNES', 'CHU RENNES',
       'CHU TOURS', 'CHU GRENOBLE ALPES', 'CHU SAINT ETIENNE',
       'CHU SAINT ETIENNE', 'CHU NANTES', 'CHU NANTES', 'CHU NANTES',
       'CHU NANTES', 'CHU NANTES', 'CHU NANTES', 'CHU NANCY', 'CHU LILLE',
       'CHU LILLE', 'CHU LILLE', 'CHU LILLE', 'CHU LILLE', 'CHU ESTAING',
       'CHU ROUEN', 'CHU AMIENS', 'CHU AMIENS', 'CHU AMIENS',
       'CHU POITIERS', 'CHU POITIERS', 'CHU POITIERS', 'CHU POITIERS',
       'CHU LIMOGES', 'CHU AMIENS', 'CHU DE RENNES', 'CHU AMIENS',
       'CHU DE NANTES', 'CHU DE RENNES', 'CHU GRENOBLE',
       'CHU MONTPELLIER', 'CHU GRENOBLE', 'CHU CAEN', 'CHU MONTPELLIER',
       'CHU MONTPELLIER', 'CHU DE CLERMONT-FERRAND', 'CHU DE NANCY',
       'CHU DE CLERMONT-FERRAND', 'CHU CAEN', 'CHU DE NICE', 'CHU ROUEN',
       'CHU DE TOULOUSE', 'CHU MONTPELLIER', 'CHU HOPITAUX DE BORDEAUX',
       'CHU AMIENS', 'CHU DE NANTES', 'CHU MONTPELLIER', 'CHU DE NANCY',
       'CHU ROUEN', 'CHU DE RENNES', 'CHU MONTPELLIER',
       'CHU SAINT-ETIENNE', 'CHU DE NANTES', 'CHU DE NICE',
       'CHU HOPITAUX DE BORDEAUX', 'CHU GRENOBLE', 'CHU DIJON',
       'CHU DE POITIERS', 'CHU GRENOBLE', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE TOULOUSE', 'CHU HOPITAUX DE BORDEAUX', 'CHU DIJON',
       'CHU HOPITAUX DE BORDEAUX', 'CHU HOPITAUX DE BORDEAUX', 'CHU CAEN',
       'CHU Bordeaux', 'CHU RENNES', 'CHU MONTPELLIER', 'CHU ANGERS',
       'CHU CLERMONT-FERRAND', 'CHU AMIENS', 'CHU NANTES', 'CHU DIJON',
       'CHU CAEN', 'CHU MONTPELLIER', 'CHU DIJON', 'CHU DIJON',
       'CHU RENNES', 'CHU TOURS', 'CHU ANGERS', 'CHU ROUEN',
       'CHU BESANCON', 'CHU LILLE', 'CHU DIJON', 'CHU GRENOBLE',
       'CHU AMIENS', 'CHU STRASBOURG', 'CHU STRASBOURG', 'CHU BORDEAUX',
       'CHU RENNES', 'CHU POITIERS', 'CHU NANTES', 'CHU LIMOGES',
       'CHU BREST', 'CHU NIMES', 'CHU RENNES', 'CHU NICE', 'CHU LILLE',
       'CHU NANCY', 'CHU TOURS', 'CHU TOULOUSE', 'CHU BREST',
       'CHU GRENOBLE', 'CHU MONTPELLIER', 'CHU MONTPELLIER', 'CHU ROUEN',
       'CHU TOULOUSE', 'CHU AMIENS', 'CHU NANTES', 'CHU MONTPELLIER',
       'CHU NICE', 'CHU BORDEAUX', 'CHU LILLE', 'CHU LILLE', 'CHU LILLE',
       'CHU TOULOUSE', 'CHU DE RENNES', "CHU D'ANGERS",
       'CHU HOPITAUX DE BORDEAUX', 'CHU AMIENS', 'CHU DE NANTES',
       'CHU MONTPELLIER', 'CHU MONTPELLIER', 'CHU MONTPELLIER',
       'CHU DE CLERMONT-FERRAND', 'CHU ROUEN', 'CHU DE NANTES',
       'CHU GRENOBLE', 'CHU DE CLERMONT-FERRAND', "CHU D'ANGERS",
       'CHU CAEN', 'CHU CAEN', 'CHU GRENOBLE', 'CHU DE NANTES',
       'CHU DE NANTES', 'CHU DE CLERMONT-FERRAND', 'CHU ROUEN',
       'CHU DE NANCY', 'CHU DE NANTES', 'CHU CAEN', 'CHU DE TOULOUSE',
       'CHU DE LIMOGES', 'CHU CAEN', 'CHU NIMES', 'CHU NIMES',
       'CHU MONTPELLIER', 'CHU DE RENNES', 'CHU DE NANTES', 'CHU DE NICE',
       'CHU GRENOBLE', 'CHU MONTPELLIER', 'CHU DE NICE', "CHU D'ANGERS",
       'CHU DE TOULOUSE', 'CHU DE FORT DE FRANCE', 'CHU ROUEN',
       'CHU DE NICE', 'CHU DIJON', 'CHU AMIENS', 'CHU DE NICE',
       'CHU DE POINTE A PITRE/ ABYMES', 'CHU SAINT-ETIENNE',
       'CHU DE NANCY', 'CHU AMIENS', 'CHU CAEN',
       'CHU DE CLERMONT-FERRAND', 'CHU HOPITAUX DE BORDEAUX', 'CHU DIJON',
       'CHU DIJON', 'CHU DIJON', 'CHU CAEN', 'CHU MONTPELLIER',
       'CHU DIJON', 'CHU DIJON', 'CHU RENNES', 'CHU TOURS', 'CHU ANGERS',
       'CHU ROUEN', 'CHU BESANCON', 'CHU LILLE', 'CHU DIJON',
       'CHU GRENOBLE', 'CHU AMIENS', 'CHU STRASBOURG', 'CHU STRASBOURG',
       'CHU BORDEAUX', 'CHU RENNES', 'CHU POITIERS', 'CHU NANTES',
       'CHU LIMOGES', 'CHU BREST', 'CHU NIMES', 'CHU RENNES', 'CHU NICE',
       'CHU LILLE', 'CHU NANCY', 'CHU TOURS', 'CHU TOULOUSE', 'CHU BREST',
       'CHU GRENOBLE', 'CHU MONTPELLIER', 'CHU MONTPELLIER', 'CHU ROUEN',
       'CHU TOULOUSE', 'CHU AMIENS', 'CHU NANTES', 'CHU MONTPELLIER',
       'CHU NICE', 'CHU BORDEAUX', 'CHU LILLE', 'CHU LILLE', 'CHU LILLE',
       'CHU TOULOUSE', 'CHU DE TOULOUSE', 'CHU DIJON', 'CHU DE NICE',
       'CHU ROUEN', 'CHU DE NANTES', 'CHU DIJON', 'CHU DE RENNES',
       'CHU DE CAEN NORMANDIE', 'CHU HOPITAUX DE BORDEAUX', 'CHU ROUEN',
       'CHU DE LIMOGES', 'CHU MONTPELLIER', 'CHU DE CLERMONT-FERRAND',
       "CHU D'ANGERS", 'CHU DE TOULOUSE', 'CHU MONTPELLIER',
       'CHU AMIENS PICARDIE', 'CHU NIMES', 'CHU DE NANTES', 'CHU DE NICE',
       'CHU NIMES', 'CHU DE TOULOUSE', 'CHU DE TOULOUSE',
       'CHU SAINT-ETIENNE', 'CHU DIJON', 'CHU BESANCON', 'CHU DE LIMOGES',
       'CHU DE NANTES', 'CHU DE RENNES', 'CHU AMIENS PICARDIE',
       'CHU GRENOBLE', 'CHU DE CLERMONT-FERRAND', 'CHU DE POITIERS',
       'CHU GRENOBLE', 'CHU DE POITIERS', 'CHU GRENOBLE',
       'CHU SAINT-ETIENNE', 'CHU AMIENS PICARDIE',
       'CHU HOPITAUX DE BORDEAUX', 'CHU NANTES', 'CHU MONTPELLIER',
       'CHU BREST', 'CHU TOULOUSE', 'CHU BREST', 'CHU ROUEN', 'CHU CAEN',
       'CHU RENNES', 'CHU ROUEN', 'CHU LILLE', 'CHU NANTES',
       'CHU SAINT-ETIENNE', 'CHU NANTES', 'CHU ROUEN', 'CHU TOURS',
       'CHU LILLE', 'CHU ANGERS', 'CHU NIMES', 'CHU MONTPELLIER',
       'CHU BORDEAUX', 'CHU BORDEAUX', 'CHU GRENOBLE', 'CHU TOURS',
       'CHU ROUEN', 'CHU CAEN', 'CHU POITIERS', 'CHU POITIERS',
       'CHU AMIENS', 'CHU MONTPELLIER', 'CHU ROUEN', 'CHU SAINT-ETIENNE',
       'CHU NICE', 'CHU LILLE', 'CHU NANTES', 'CHU BESANCON',
       'CHU NANTES', 'CHU REIMS', 'CHU CAEN', 'CHU ROUEN',
       'CHU MONTPELLIER', 'CHU POITIERS', 'CHU BORDEAUX', 'CHU BORDEAUX',
       'CHU NANCY', 'CHU BORDEAUX', 'CHU AMIENS', 'CHU GRENOBLE',
       'CHU BREST', 'CHU BORDEAUX', 'CHU DE NANTES',
       'CHU HOPITAUX DE BORDEAUX', 'CHU HOPITAUX DE BORDEAUX',
       'CHU BESANÇON', 'CHU DE CLERMONT-FERRAND',
       'CHU HOPITAUX DE BORDEAUX', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE TOULOUSE', 'CHU AMIENS PICARDIE', 'CHU MONTPELLIER',
       'CHU MONTPELLIER', 'CHU SAINT-ETIENNE', 'CHU DE CLERMONT-FERRAND',
       'CHU DE MARTINIQUE', 'CHU SAINT-ETIENNE', 'CHU MONTPELLIER',
       'CHU HOPITAUX DE BORDEAUX', "CHU D'ANGERS", 'CHU DE NICE',
       'CHU DE CLERMONT-FERRAND', 'CHU DE CLERMONT-FERRAND',
       'CHU DE TOULOUSE', 'CHU DE NANTES', 'CHU HOPITAUX DE BORDEAUX',
       'CHU MONTPELLIER', 'CHU DE NANTES', 'CHU ROUEN', 'CHU MONTPELLIER',
       'CHU NIMES', 'CHU DE RENNES', 'CHU SAINT-ETIENNE',
       'CHU DE TOULOUSE', 'CHU DE RENNES', 'CHU MONTPELLIER',
       'CHU DE RENNES', 'CHU DE TOULOUSE', 'CHU DIJON', 'CHU ROUEN',
       "CHU D'ANGERS", 'CHU DE TOULOUSE', 'CHU MONTPELLIER',
       'CHU DE CAEN NORMANDIE', 'CHU DE NICE', 'CHU DE NANTES',
       'CHU DE TOURS', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE CAEN NORMANDIE', 'CHU LA MILETRIE', 'CHU DE TOURS',
       'CHU DE NICE', 'CHU DE TOURS', 'CHU DE TOURS', 'CHU DE NANTES',
       'CHU DE NANTES', 'CHU DE NANTES', 'CHU MONTPELLIER',
       'CHU DE DIJON', 'CHU DE NANTES', 'CHU HOPITAUX DE BORDEAUX',
       'CHU DE TOURS', 'CHU DE CAEN NORMANDIE', 'CHU TOULOUSE',
       'CHU MONTPELLIER', 'CHU HOPITAUX DE BORDEAUX', 'CHU TOULOUSE',
       'CHU TOULOUSE', "CHU D' ANGERS"], dtype=object)

In [360]:
dfchru=df[df.Nomdeletablissement.str.startswith('CHRU',na=False)]
dfchru

      Annee MontantAccorde Nomdeletablissement Projet
4      2012        60836.0       CHRU DE BREST   PHRC
17     2012       195500.0          CHRU LILLE   PHRC
31     2012       110496.0       CHRU DE BREST   PHRC
42     2012       149456.0       CHRU DE TOURS   PHRC
69     2012       167896.0       CHRU DE BREST   PHRC
...     ...            ...                 ...    ...
2838   2021         992950          CHRU BREST   PHRC
2841   2021         335460       CHRU DE NANCY   PHRC
2852   2021         801133         CHRU RENNES   PHRC
2872   2021         156094         CHRU RENNES   PHRC
2874   2021         919051          CHRU BREST   PHRC

[119 rows x 4 columns]

In [361]:
dfch = pd.concat([dfchu,dfchru])

In [337]:
#bdd avec chu et chru
#dfch.to_csv('dfch.csv')

In [362]:
dfch[pd.to_numeric(dfch.MontantAccorde, errors='coerce').isnull()]

      Annee MontantAccorde Nomdeletablissement Projet
2837   2021              *       CHU DE NANTES   PHRC
2853   2021              *       CHU DE NANTES   PHRC

In [363]:
 dfch=dfch.drop([2837, 2853])

In [364]:
dfch.dtypes

Annee                   int64
MontantAccorde         object
Nomdeletablissement    object
Projet                 object
dtype: object

In [365]:
dfch['MontantAccorde'] = dfch['MontantAccorde'].astype(float, errors = 'raise')

In [366]:
dfch.dtypes

Annee                    int64
MontantAccorde         float64
Nomdeletablissement     object
Projet                  object
dtype: object

In [344]:
#dfch=dfch.groupby(['Nomdeletablissement']).sum()['MontantAccorde']

In [345]:
#print(dfch)

Nomdeletablissement
CHRU BESANCON            1130949.0
CHRU BREST               2158552.0
CHRU DE BREST            8633103.7
CHRU DE NANCY            4465098.0
CHRU DE TOURS           11369733.2
                           ...
CHU de Nice               698928.0
CHU de Nîmes              460204.0
CHU de Rouen             1239076.0
CHU de Saint Etienne      411495.0
CHU de Toulouse          1245469.0
Name: MontantAccorde, Length: 81, dtype: float64

In [346]:
#dfch = dfch.reset_index()
#dfch

     Nomdeletablissement  MontantAccorde
0          CHRU BESANCON       1130949.0
1             CHRU BREST       2158552.0
2          CHRU DE BREST       8633103.7
3          CHRU DE NANCY       4465098.0
4          CHRU DE TOURS      11369733.2
..                   ...             ...
76           CHU de Nice        698928.0
77          CHU de Nîmes        460204.0
78          CHU de Rouen       1239076.0
79  CHU de Saint Etienne        411495.0
80       CHU de Toulouse       1245469.0

[81 rows x 2 columns]

In [350]:
#dfch.to_csv('dfchm.csv')

In [367]:
grouped_df = dfch.groupby(['Annee','Nomdeletablissement']
                          ).sum()['MontantAccorde'].reset_index()

In [368]:
grouped_df

     Annee       Nomdeletablissement  MontantAccorde
0     2012             CHRU DE BREST       1406072.3
1     2012             CHRU DE TOURS        149456.0
2     2012                CHRU LILLE       1934616.1
3     2012                CHU AMIENS        310000.0
4     2012              CHU BESANCON        618300.0
..     ...                       ...             ...
280   2021              CHU DE TOURS       3019333.0
281   2021  CHU HOPITAUX DE BORDEAUX       2100873.0
282   2021           CHU LA MILETRIE       1350384.0
283   2021           CHU MONTPELLIER       1553797.0
284   2021              CHU TOULOUSE       2734154.0

[285 rows x 3 columns]

In [369]:
dfch.to_csv('dfchu_r.csv')