<a href="https://colab.research.google.com/github/zinebgasmi/App-pratique/blob/master/chu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 31.9 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [171]:
# Importer les packages
import pandas as pd
import re

import numpy as np

In [193]:
#importation des bases de données
df=pd.read_csv('/content/ProjetsComplet.csv')
df.columns

Index(['Unnamed: 0', 'Finess', 'Nom de l'établissement', 'NomInvestigateur',
       'PrénomInvestigateur', 'TitreProjet', 'NuméroProjet', 'Acronyme',
       'MontantAccordé', 'Année', 'Type', 'Projet'],
      dtype='object')

In [194]:
df.columns = ["Unnamed: 0","Finess","Nomdeletablissement","NomInvestigateur","PrenomInvestigateur","TitreProjet","NumeroProjet","Acronyme","MontantAccorde","Annee","Type",
"Projet"]

In [195]:
dfchu=df.loc[:,['Annee', 'MontantAccorde','Nomdeletablissement','Projet']]
dfchu

      Annee MontantAccorde        Nomdeletablissement Projet
0      2012       156091.0               CHU D'ANGERS   PHRC
1      2012       110000.0                       APHM   PHRC
2      2012       200000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
3      2012       112000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
4      2012        60836.0              CHRU DE BREST   PHRC
...     ...            ...                        ...    ...
2943   2021         415822  ASSISTANCE PUBLIQUE AP-HP    PRT
2944   2021       307134.6              CHRU DE TOURS    PRT
2945   2021     838 426 €#  ASSISTANCE PUBLIQUE AP-HP    PRT
2946   2021     324 700 €¤  ASSISTANCE PUBLIQUE AP-HP    PRT
2947   2021     224 389 €¤            CHU MONTPELLIER    PRT

[2948 rows x 4 columns]

In [196]:
dfchu=dfchu[dfchu.Projet == 'PHRC']
dfchu

      Annee MontantAccorde                    Nomdeletablissement Projet
0      2012       156091.0                           CHU D'ANGERS   PHRC
1      2012       110000.0                                   APHM   PHRC
2      2012       200000.0              ASSISTANCE PUBLIQUE AP-HP   PHRC
3      2012       112000.0              ASSISTANCE PUBLIQUE AP-HP   PHRC
4      2012        60836.0                          CHRU DE BREST   PHRC
...     ...            ...                                    ...    ...
2880   2021        1004987                           CHU TOULOUSE   PHRC
2881   2021         632826                          CHU D' ANGERS   PHRC
2882   2021         831081  ASSISTANCE PUBLIQUE-HOPITAUX DE PARIS   PHRC
2883   2021         440000                              CHR LILLE   PHRC
2884   2021         808854  HOPITAUX UNIVERSITAIRES DE STRASBOURG   PHRC

[2158 rows x 4 columns]

In [197]:
dfchu.dtypes

Annee                   int64
MontantAccorde         object
Nomdeletablissement    object
Projet                 object
dtype: object

In [198]:
dfchu['Nomdeletablissement'].astype('string')

0                                CHU D'ANGERS
1                                        APHM
2                   ASSISTANCE PUBLIQUE AP-HP
3                   ASSISTANCE PUBLIQUE AP-HP
4                               CHRU DE BREST
                        ...
2880                             CHU TOULOUSE
2881                            CHU D' ANGERS
2882    ASSISTANCE PUBLIQUE-HOPITAUX DE PARIS
2883                                CHR LILLE
2884    HOPITAUX UNIVERSITAIRES DE STRASBOURG
Name: Nomdeletablissement, Length: 2158, dtype: string

In [199]:
dfchu.Nomdeletablissement.dtypes

dtype('O')

In [200]:
dfchu=dfchu[dfchu.Nomdeletablissement.str.startswith('CH',na=False)]
dfchu

      Annee MontantAccorde Nomdeletablissement Projet
0      2012       156091.0        CHU D'ANGERS   PHRC
4      2012        60836.0       CHRU DE BREST   PHRC
5      2012       176592.0     CHU DE TOULOUSE   PHRC
7      2012        79816.0       CHU DE NANTES   PHRC
8      2012       147000.0           CHU ROUEN   PHRC
...     ...            ...                 ...    ...
2878   2021         804693        CHU TOULOUSE   PHRC
2879   2021         335922           CHR LILLE   PHRC
2880   2021        1004987        CHU TOULOUSE   PHRC
2881   2021         632826       CHU D' ANGERS   PHRC
2883   2021         440000           CHR LILLE   PHRC

[938 rows x 4 columns]

In [201]:
dfchu[pd.to_numeric(dfchu.MontantAccorde, errors='coerce').isnull()]

      Annee MontantAccorde Nomdeletablissement Projet
2837   2021              *       CHU DE NANTES   PHRC
2853   2021              *       CHU DE NANTES   PHRC

In [202]:
 dfchu=dfchu.drop([2837, 2853])

In [203]:
dfchu.dtypes

Annee                   int64
MontantAccorde         object
Nomdeletablissement    object
Projet                 object
dtype: object

In [204]:
dfchu['MontantAccorde'] = dfchu['MontantAccorde'].astype(float, errors = 'raise')

In [205]:
dfchu.dtypes

Annee                    int64
MontantAccorde         float64
Nomdeletablissement     object
Projet                  object
dtype: object

In [184]:
#dfchu=dfchu.groupby(['Nomdeletablissement']).sum()['MontantAccorde']

In [166]:
#print(dfchu)

Nomdeletablissement
CH ANNECY-GENEVOIS                        899509.0
CH CHARLES PERRENS                       1415323.4
CH Charles PERRENS                        284477.0
CH DE CHARLEVILLE MEZIERES                261435.0
CH INTERCOMMUNAL DE POISSY ST-GERMAIN     484000.0
                                           ...
CHU de Nice                               698928.0
CHU de Nîmes                              460204.0
CHU de Rouen                             1239076.0
CHU de Saint Etienne                      411495.0
CHU de Toulouse                          1245469.0
Name: MontantAccorde, Length: 103, dtype: float64

In [185]:
#dfchuf = dfchu.reset_index()
dfchuf

                       Nomdeletablissement  MontantAccorde
0                       CH ANNECY-GENEVOIS        899509.0
1                       CH CHARLES PERRENS       1415323.4
2                       CH Charles PERRENS        284477.0
3               CH DE CHARLEVILLE MEZIERES        261435.0
4    CH INTERCOMMUNAL DE POISSY ST-GERMAIN        484000.0
..                                     ...             ...
98                             CHU de Nice        698928.0
99                            CHU de Nîmes        460204.0
100                           CHU de Rouen       1239076.0
101                   CHU de Saint Etienne        411495.0
102                        CHU de Toulouse       1245469.0

[103 rows x 2 columns]

In [206]:
grouped_df = dfchu.groupby(['Annee','Nomdeletablissement']
                          ).sum()['MontantAccorde'].reset_index()

In [207]:
grouped_df

     Annee                    Nomdeletablissement  MontantAccorde
0     2012  CH INTERCOMMUNAL DE POISSY ST-GERMAIN        200000.0
1     2012                         CH LE VINATIER        469689.0
2     2012                                CH LENS        242000.0
3     2012                         CHR LA REUNION        619493.5
4     2012                          CHRU DE BREST       1406072.3
..     ...                                    ...             ...
317   2021                           CHU DE TOURS       3019333.0
318   2021               CHU HOPITAUX DE BORDEAUX       2100873.0
319   2021                        CHU LA MILETRIE       1350384.0
320   2021                        CHU MONTPELLIER       1553797.0
321   2021                           CHU TOULOUSE       2734154.0

[322 rows x 3 columns]